<header>
  <h1>Event Hub</h1>
  <nav>
    <a href="#">Accueil</a>
    <a href="#"> Mes événements</a>
    <a href="#"> Connexion</a>
  </nav>
</header>

<section class="search">
  <input
    type="text"
    placeholder="Rechercher un evenement ..."
    [(ngModel)]="serachTerm"
  />
</section>

<section class="event-list">
  <div *ngFor="let event of filteredEvents()" class="event-card">
    <h2>{{ event.title }}</h2>
    <p>{{ event.date | date : "longDate" }} - {{ event.location }}</p>
    <button (click)="viewEvent(event)">Voir plus</button>
  </div>
</section>
